# dependencies
node_modules/
web-app/node_modules/
mobile-app/node_modules/
desktop-app/node_modules/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
web-app/frontend_start.log
web-app/backend_start.log
web-app/db_push_dev.log
web-app/init_migrate_dev.log
web-app/init_migrate_test.log
web-app/integration_tests.log
web-app/reset_db.log
web-app/unit_tests.log
web-app/update_db.log

# runtime data
pids
*.pid
*.seed
*.csv
*.dat
*.out
*.pid
*.gz

# data
web-app/frontend/src/assets/data

# directory used by npm
.npm

# dotenv environment variables file
.env*
web-app/.env*
web-app/cypress.env.json
web-app/frontend/.env
mobile-app/.env
desktop-app/.env

# build output
.next
web-app/.next
web-app/frontend/.next
desktop-app/.vite/build

# Cypress
web-app/cypress/screenshots/
web-app/cypress/downloads/
web-app/cypress/videos/

# Prisma
web-app/prisma/migrations/
web-app/prisma/migration_lock.toml

# Misc
**/npm-debug.log
.DS_Store

# Dependencies
mobile-app/node_modules/
mobile-app/npm-debug.log*
mobile-app/yarn-debug.log*
mobile-app/yarn-error.log*
mobile-app/package-lock.json

# Expo
mobile-app/.expo/
mobile-app/.expo-shared/

# Environment variables
mobile-app/.env

# Babel
mobile-app/babel.config.js

# Logs
mobile-app/logs/
mobile-app/*.log
mobile-app/npm-debug.log*
mobile-app/yarn-debug.log*
mobile-app/yarn-error.log*

# Build output
mobile-app/build/
mobile-app/dist/

# iOS
mobile-app/**/ios/build/
mobile-app/**/ios/Pods/
mobile-app/**/ios/Podfile.lock
mobile-app/*.pbxproj

# Android
mobile-app/**/android/.cxx/
mobile-app/**/android/.gradle/
mobile-app/**/android/build/
mobile-app/**/android/app/build/
mobile-app/**/android/app/*.keystore
mobile-app/**/android/gradle.properties
mobile-app/**/android/gradle/wrapper/gradle-wrapper.properties

# macOS
mobile-app/.DS_Store

# Fastlane
mobile-app/**/fastlane/report.xml
mobile-app/**/fastlane/Preview.html
mobile-app/**/fastlane/screenshots

# Idea files
mobile-app/.idea/

# VS Code
mobile-app/.vscode/

# IntelliJ
mobile-app/.iml
mobile-app/.ipr
mobile-app/.iws
mobile-app/idea/

gestion-projet
web-app/prisma/seedDev.js
web-app/prisma/seedTest.js
web-app/prisma/initMigrateDev.js
web-app/prisma/initMigrateTest.js
web-app/prisma/resetDBDev.js
web-app/devScripts/localBackend.js

